# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# Vite cache
.vite/

# Coverage
coverage/

# Temporary files
*.tmp
*.temp

# Uploads (NOW IGNORE because using Cloudinary)


# Editor files
.vscode/
.idea/